# Ch1 - Exploratory Data Analysis

In [1]:
# Adding code folder to our system path for easier import
import sys
sys.path.append('C:\\Users\\randy\\Documents\\GitHub\\ThinkStats2\\code')

In [2]:
import os
os.getcwd()

'C:\\Users\\randy\\Documents\\GitHub\\ThinkStats2'

In [3]:
os.chdir('C:\\Users\\randy\\Documents\\GitHub\\ThinkStats2\\code')

## 1.4

In [7]:
import nsfg

ImportError: cannot import name 'nsfg' from 'code' (C:\Users\randy\Anaconda3\lib\code.py)

In [12]:
df = nsfg.ReadFemPreg()

In [13]:
df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [ ]:
df.columns

In [ ]:
df.outcome.value_counts(sort=False)

In [14]:
caseid = 10229
preg_map = nsfg.MakePregMap(df)
indices = preg_map[caseid]
df.outcome[indices].values

array([4, 4, 4, 4, 4, 4, 1], dtype=int64)

# Ch2 - Distributions